{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="container bg-light content-container">
    <h1 class="page-title"> {{ profile.user.username }} </h1>
    <div class="profile-content">
        <div class="img-container">
            {% if "placeholder" in profile.profile_pic.url %}
            <img src="{% static 'images/nobody.jpg' %}" class="profile-image" alt="Placeholder profile image">
            {% else %}
            {% load cloudinary %}
            {% cloudinary profile.profile_pic format="png" width=200 height=200 radius=100 crop="fill" gravity="auto" %}
            {% endif %}
        </div>
        <div class="profile-info">
            <div>I am based in <strong>{{ profile.region }}</strong></div>
            <br>
            <div> <strong>About me:</strong> <br> {{ profile.about }} </div>
            <br>
            <!-- Links to the hikes that the user has added -->
            <div><strong>My routes:</strong> 
                {% if user_hikes %} 
                    {% for hike in user_hikes %} <br> 
                    <a href="{% url 'hike_info' hike.slug %}">{{ hike.hike_name }}</a> 
                    {% endfor %}
                {% else %}
                No hikes added...yet!
                {% endif %}
            </div>
            <br>
            <!-- Links to the hikes that the user has liked -->
            <div><strong>Hikes I like:</strong>
                {% if user_likes %} 
                    {% for like in user_likes %} <br> 
                    <a href="{% url 'hike_info' like|slugify %}">{{ like }}</a> 
                    {% endfor %}
                {% else %}
                No hikes liked...yet!
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Buttons to edit profile and return to the Hikes pages-->
    <div class="modify-btns">
        <!-- Check that the user is only able to update their own profile -->
        <a href="{% url 'hikes' %}" class="btn btn-success">Return to Hikes</a>
        {% if request.user.id == profile.user.id %}    
        <a href="{% url 'update_profile' %}" class="btn btn-warning">Update Profile</a>
        {% endif %}    
    </div>  
</main>


{% endblock %}