{% extends "base.html" %}
{% load static %}
{% url 'update_profile' as update_profile_url %}

{% block content %}

<main class="container bg-light profile-container">
    <h1 class="profile-title"> {{ profile.user.username }} </h1>
    <div class="profile-content">    
        <img src="{% static 'images/nobody.jpg' %}" class="profile-image" alt="Placeholder profile image">
        <div class="profile-info">
            <div> I am based in <strong>{{ profile.region }}</strong></div>
            <br>
            <div> <strong>About me:</strong> <br> {{ profile.about }} </div>
        </div>
    </div>
    <!-- Check that the user is only able to update their own profile -->
    {% if request.user.id == profile.user.id %}
    <a href="{% url 'update_profile' %}" class="btn btn-success update-button">Update Profile</a>
    {% endif %}
</main>



{% endblock %}