{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}

<div class="container bg-light content-container">
    <h1 class="p-3"> Update Profile: </h1>
    <form method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form | crispy }}
        <br>
        <div class="modify-btns">
            <button type="submit" class="btn blue-btn">Save</button>
        </div>
        
    </form>
</div>
{% endblock %}