body {
    background: url("../images/bg-image.jpg") no-repeat;
    background-size: cover;
}

/* Profile page */
.profile-container {
    margin: 10vh auto;
    width: 80%;
}

.profile-title {
    text-align: center;
    padding-top: 30px;
}

.profile-content {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 30px;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-image {
    max-width: 200px;
    border-radius: 50%;;
}

/* Hike list */
.hike-container {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.hike-nav {
    padding-top: 30px
}

.hike-row {
    justify-content: center;
    
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.logos > i {
    font-size: 20px;
}

.copyright {
    display: flex;
    align-items: right;
    justify-content: center;
}