body {
    background: url("../images/bg-image.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    margin: 10vh auto;
    width: 80%;
    padding-bottom: 10px;
}

.page-title {
    text-align: center;
    padding-top: 30px;
}
/* Navbar */

.auth-links {
    display: flex;
    gap: 10px;
    margin-right: 50px;
}

/* Login */
.login-container {
    background-color: #F8F9FA;
    max-width: 800px;
    margin: 10vh auto;
    padding-bottom: 30px;
}

/* Login prompt */
.login-prompt {
    text-align: center;
    margin: 10vh auto;
    width: 400px;
    background-color: #F8F9FA;
    color: black;
}

/* Buttons */
.update-button {
    display: block;
    margin: 10px auto 10px;
    max-width: 130px;
}

/* Profile page */

.profile-content {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 30px;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-image {
    max-width: 200px;
    border-radius: 50%;;
}

/* Hike list */
.hike-container {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.hike-nav {
    padding-top: 30px
}

.hike-row {
    justify-content: center;    
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.logos > i {
    font-size: 20px;
}

.copyright {
    display: flex;
    align-items: right;
    justify-content: center;
}