{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="error-msg bg-light">
        <img src="{% static 'images/404_compass.webp' %}" alt="Image of compass with forest in the background" class="img-404">
        <h1 class="page-title"> Did you get lost? </h1>
        <h3 class="text-center">  Let's take you back on the right (hiking) path...</h3>
        <div class="modify-btns">
            <a href="{% url 'hikes' %}" class="btn blue-btn ">Return to Hikes</a>
        </div>
</main>

{% endblock %}