{% extends "base.html" %}
{% load static %}

{% url 'hike_info' as hike_info_url %}
{% url 'new_hike' as new_hike_url %}

{% block content %}

<div class="container hike-container">
    <div class="row row-cols-1 row-cols-lg-3 g-4 hike-row">
        {% for hike in hikes_list %}
        <div class="col">
            <div class="card hike-card border border-white border-5">
                {% if "placeholder" in hike.route_image.url %}
                <img src="{% static 'images/default_hike.webp' %}" class="card-img-top card-img" alt="Default image of people hiking">
                {% else %}
                {% load cloudinary %}
                {% cloudinary hike.route_image fetch_format="auto" aspect_ratio="4:3" crop="fill" gravity="auto" alt="Image of the hike" class="card-img-top card-img" %}
                {% endif %}
                <div class="card-body">
                    <div class="d-flex">
                        <h5 class="card-title"> {{ hike.hike_name }}</h5><span class="like-count"><i class="fa-solid fa-thumbs-up"></i> {{ hike.hike_likes.all.count }}</span></div>
                    <p class="card-text">{{ hike.region }}</p>
                    <p class="card-text">{{ hike.distance }} miles </p>
                    <a href="{% url 'hike_info' hike.slug %}" class="btn blue-btn">View the route</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- https://realpython.com/django-pagination/ and https://docs.djangoproject.com/en/5.1/ref/paginator/ -->
    {% if is_paginated %}
    <nav aria-label="Pagination navigation controls" class="hike-nav">
        <ul class="pagination justify-content-center">
            <!-- Disable 'previous' button if on the first page -->
            <li class="page-item">
                <a class="page-link {% if page_obj.number == 1 %}disabled{% endif %}" 
                href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {% endif %}">Previous</a>
            </li>
            <!-- Add the page before 'previous' to the navigation control if on the last page -->
            {% if not page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number|add:'-1' }}">{{ page_obj.previous_page_number|add:'-1' }}</a></li>
            {% endif %}
            <!-- Previous page if not on the first page -->
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <!-- Current page -->
            <li class="page-item" aria-current="page">
                <span class="page-link bg-secondary text-light">{{ page_obj.number }}</span>
            </li>
            <!-- Next page if not on the last page -->
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            {% endif %}
            <!-- Add the page after 'next' if on the first page -->
            {% if not page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number|add:'1' }}">{{ page_obj.next_page_number|add:'1' }}</a></li>
            {% endif %}
            <!-- Disable 'next' button if on the last page -->
            <li class="page-item">
                <a class="page-link {% if page_obj.number == paginator.num_pages %}disabled{% endif %}" 
                href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% endif %}">Next</a>
            </li>
        </ul>
      </nav>
    {% endif %}

<!-- Link to add new routes -->
<div class="container bg-light add-hike">
    <h6>Is your favourite hike missing?</h6>
    <p> Help your fellow hiking enthusiasts to discover the most amazing routes by adding your favourite hikes.</p>
    {% if user.is_authenticated %}
    <a href="{% url 'new_hike' %}" class="btn blue-btn">Create a new hiking route</a>
    <!-- Require non-authenticated users to register or login -->
    {% else %}
    <div class="alert alert-secondary" role="alert">
        To create a route please <a href="{% url 'account_login' %}" class="alert-link">login</a> or
        <a href="{% url 'account_signup' %}" class="alert-link">register</a>.
    </div>
    {% endif %}
</div>

{% endblock %}