{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="container bg-light content-container">
    <h1 class="page-title"> {{ hike.hike_name }} </h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="{% static 'images/default_hike.jpg' %}" class="img-fluid hike-image" alt="Placeholder hike image">
            </div>
            <div class="col container hike-info">
                <div class="row">
                    <div class="col-5 col-md-3">Region:</div>
                    <div class="col-7 col-md-9">{{ hike.region }}</div>
                </div>
                <div class="row">
                    <div class="col-5 col-md-3">Distance:</div>
                    <div class="col-7 col-md-9">{{ hike.distance }}</div>
                </div>
                <div class="row">
                    <div class="col-5 col-md-3">Author:</div>
                    <div class="col-7 col-md-9">{{ hike.author }}</div>
                </div>
                <div class="row">
                    <div class="col-5 col-md-3">Date added:</div>
                    <div class="col-7 col-md-9">{{ hike.created_on }}</div>
                </div>
        </div>
    </div>
    <!-- Check that the user is only able to update their own profile -->
    {% if request.user.id == profile.user.id %}
    <a href="{% url 'update_profile' %}" class="btn btn-success update-button">Update Profile</a>
    {% endif %}
</main>

{% endblock %}