{% extends "base.html" %}
{% load static %}

{% url 'profile' as profile_url %}

{% block content %}

{% if user.is_authenticated %}
<main class="container bg-light content-container">
    <h1 class="page-title"> {{ hike.hike_name }} </h1>
    <div class="container">
        <div class="row m-md-2">
            <div class="col-12 col-md-6">
                {% if "placehold" in hike.route_image.url %}
                <img src="{% static 'images/default_hike.jpg' %}" class="img-fluid hike-image" alt="Placeholder hike image">
                {% else %}              
                <img src="{{ hike.route_image.url }}" alt="{{ hike.hike_name }}" class="card-img-top">
                {% endif %}
            </div>
            <div class="col container hike-info m-1">
                <div class="row">
                    <div class="col-6 col-md-3 fw-bold">Region:</div>
                    <div class="col-6 col-md-9">{{ hike.region }}</div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3 fw-bold">Distance:</div>
                    <div class="col-6 col-md-9">{{ hike.distance }}</div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3 fw-bold">Author:</div>
                    <div class="col-6 col-md-9"><a href="{% url 'profile' hike.author %}">{{ hike.author }}</a></div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3 fw-bold">Date added:</div>
                    <div class="col-6 col-md-9">{{ hike.created_on }}</div>
                </div>
            </div>
        <div class="m-md-3">
            <strong>Description: </strong>{{ hike.description }}
        </div>
    </div>
</main>
{% else %}
<div class="alert alert-warning" role="alert">
    To view this page please <a href="{{ login_url }}" class="alert-link">login</a>.
  </div>
{% endif %}


{% endblock %}